.squaredPrimary {
    margin: 4px 2px;
    padding: 10px 20px;
    text-align: center;
    background-color: #373867;
    border: 2px solid #373867;
    color: #ffffff;
    border-radius: 10%;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}

.squaredPrimary:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}

.roundedPrimary {
    display: flex;
    justify-content: flex-end;
    margin: 5px 5px;
    padding: 10px 20px;
    text-align: center;
    background-color: #373867;
    border: 2px solid #373867;
    color: #ffffff;
    border-radius: 100%;
    text-decoration: none;
    font-size: 25px;
    transition-duration: 0.4s;
}

.roundedPrimary:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}

.squaredSecondary {
    display: flex;
    justify-content: flex-end;
    margin: 4px 2px;
    padding: 10px 20px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #373867;
    color: #000000;
    border-radius: 10%;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}

.squaredSecondary:hover {
    cursor: pointer;
    background-color: #373867;
    color: #ffffff;
}

.roundedSecondary {
    margin: 5px 5px;
    padding: 10px 16px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #373867;
    color: #000000;
    border-radius: 30%;
    text-decoration: none;
    font-size: 25px;
    transition-duration: 0.4s;
}

.roundedSecondary:hover {
    cursor: pointer;
    background-color: #373867;
    color: #ffffff;
}

.divInput{
    display: flex;
    justify-content: space-between;
    color: #373867;
}

.squaredPrimary2 {
    margin: 4px 2px;
    padding: 10px 20px;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #373867;
    border: 2px solid #373867;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}
.squaredPrimary2:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}

.squaredSecondary2 {
    display: flex;
    justify-content: flex-end;
    margin: 4px 2px;
    padding: 17px 20px;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #373867;
    color: #000000;
    border-radius: 10%;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}

.squaredSecondary2:hover {
    cursor: pointer;
    background-color: #373867;
    color: #ffffff;
}