.container {
  margin: auto;
  margin-right: 75px;
  width: 80%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.header{
  display: block;
}

.tableContainer {
  text-align: center;
  width: 100%;
}

.btn {
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  background-color: #EA3354;
}

.btn:hover{
  background-color: #c61d3c;
}

.btnText{
  color: #ffffff;
  text-decoration: none;
}

.shadowBox{
  box-shadow: 5px 5px 10px 2px #000000cc;
}

.tableTitle{
  margin: auto;
  width: 80%;
  border-radius: 15px 15px 0px 0px;
  background-color: #EA3354;
}

.table{
  margin: auto;
  width: 80%;
  border-radius: 15px;
  background-color: #F0F4F9;
  border-spacing: 0px;
  border-collapse: collapse;
  box-shadow: 5px 5px 6px 0.5px #000000cc;
}

.tableHeader{
  background-color: #EA3354;
  color: #000000;
}

.borderBottom{
  border-bottom: 2px solid #000000;
}

.newProject{
  margin: 10px 0px;
  text-align: center;
  background-color: #EA3354;;
  color: #252525;
  border-style: none;
  font-size: 35px;
  font-weight: 800;
  border-radius: 30px;
  height: 60px;
  width: 60px;
}