.container {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.newSuperAdmin{
  margin: 10px 0px;
  text-align: center;
  background-color: #EA3354;;
  color: #252525;
  border-style: none;
  font-size: 35px;
  font-weight: 800;
  border-radius: 30px;
  height: 60px;
  width: 60px;
}

.addBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 1%;
  width: 80%;
}
