.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .bodyContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-image: url("./bodyBackground/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }