@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
  display: flex;
  height: 50px;
  background-color: #373867;
  font-family: 'Roboto';
}

.logo {
  margin-left: 40px;
  width: fit-content;
  height: 100%;
}