@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
  display: flex;
  height: 5em;
  background-color: #373867;
  padding: 1.2% 1%;
  font-family: 'Roboto';
}

.logo {
  margin-left: 30px;
  width: fit-content;
  height: 100%;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}