.moduleContainer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.modal {
    width: 500px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px grey;
    margin: auto;
    margin-top: 200px;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 16px;
    background-color: #EA3354;
    color: white;
}

.modalBody {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.entireBody {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}
.confirmBtn {
    background: #AACE9B;
    border-color: #AACE9B;
    color: white;
}

.cancelBtn {
    border-color: #EA3354;
    color: #AACE9B;
    background-color: transparent;
}

.confirmBtn, .cancelBtn {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.cancelBtnX {
    font-size: 25px;
    margin-right: 20px;
}

.cancelBtn:hover,
.cancelBtnX:hover,
.confirmBtn:hover {
    cursor: pointer;
}