.btn {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  background-color: #EA3354;
}

.btn:hover{
  background-color: #c61d3c;
}

.btnText{
  color: #ffffff;
  text-decoration: none;
}

.btnBlack {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  background-color: #000000;
}

.btnBlack:hover{
  cursor: pointer;
  background-color: #323232;
}
