.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list > table{
  margin: 25px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-collapse:collapse;
}

.list thead{
background-color: #AACE9B;
color: #ffffff;
text-align: center;
font-weight: bold;
}

.list td,th {
  text-align: center;
  padding: 12px 15px;
}

.list tbody tr {
  align-items: center;
  border-bottom: 1px solid #707070;
}
.list tbody tr:last-of-type {
  align-items: center;
  border-bottom: 2px solid  #AACE9B;
}
.list tbody button {
  align-items: center;
  margin: 5px;
  padding: 10px;
}
