.container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.list > table{
  margin: 25px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-collapse:collapse;
}

.list thead{
background-color: #AACE9B;
color: #ffffff;
text-align: center;
font-weight: bold;
}

.list td,th {
  text-align: center;
  padding: 12px 15px;
}

.list tbody tr {
  align-items: center;
  border-bottom: 1px solid #707070;
}
.list tbody tr:last-of-type {
  align-items: center;
  border-bottom: 2px solid  #AACE9B;
}
.list tbody button {
  align-items: center;
  margin: 5px;
  padding: 10px;
}

.moduleContainer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}

.modal {
  width: 500px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px grey;
  margin: auto;
  margin-top: 200px;
}
.modalHeader {
  padding: 2px 16px;
  background-color: #373867;
  color: white;
}

.modalBody {padding: 2px 16px;}

.deleteButton {
  background: #F13312;
  border-radius: 5px;
  color: white;
}

.closeButton {
  background: #AACE9B;
  border-radius: 5px;
  color: white;
}
