.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeSheetsContainer {
  display: flex;
  flex-direction: column;
  width: 100%
}

.timeSheetContainer {
  display:flex;
  justify-content: space-evenly;
  width: 100%;
}