.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
  width: 350px;
  height: 200px;
  background-color: #D9D9D9;
  border-radius: 20px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  border: #373867 solid 1px;
  padding: 2px 16px;
  background-color: #373867;
  border-radius: 15px 15px 0px 0px;
  color: #ffffff;
  font-size: 22px;
}

.modalTitle {
  padding: 5px 15px;
  margin: 0;
  margin-top: 5px;
}

.closeButton {
  margin-top: 5px;
  width: fit-content;
  height: fit-content;
  border: #373867 solid 1px;
}

.closeButton:hover {
  background-color: #373867;
  border-color: #373867;
}

.modalText {
  padding: 5px;
}

.acceptButton {
  background-color: #49A37B;
}

.acceptButton:hover {
  background-color: #115f3c;
}


