.header{
  display: block;
}

.tableContainer {
  text-align: center;
  width: 100%;
}

.tableTitle{
  margin: auto;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  background-color: #EA3354;
}

.table{
  margin: 15px auto;
  width: 100%;
  border-radius: 15px;
  background-color: #F0F4F9;
  border-spacing: 0px;
  border-collapse: separate;
  box-shadow: 5px 5px 6px 0.5px #000000cc;
}

.table tr:last-child td:first-child { border-bottom-left-radius: 15px; }

.table tr:last-child td:last-child { border-bottom-right-radius: 15px; }

.tableRow td {
  border-top: #252525 solid 2px;
  border-radius: 0px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.tableHeader{
  background-color: #EA3354;
  color: #000000;
}

.tableHeader tr:first-child th:first-child { border-top-left-radius: 15px; }

.tableHeader tr:first-child th:last-child { border-top-right-radius: 15px; }