.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: fit-content;
}

.header{
  display: block;
}

.tableContainer {
  text-align: center;
  width: 100%;
}

.tableTitle{
  margin: auto;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #3738671a;
}

.tableTitles{
  padding: 30px 20px;
}

.table{
  justify-self: center;
  align-self: center;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  background-color: #FFFFFF;
  border-spacing: 0px;
  border-collapse: separate;
  border: solid 3px;
  border-color: #E0E0E0;
  color: #373867;
}

.tableRow td {
  border-top: #E0E0E0 solid 1px;
  border-radius: 0px;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
  font-weight:500;
  max-width: 500px;
}

.tableRow tr:hover{
  background-color: #aace9b33;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.tableHeader{
  background-color: #3738671a;
  color: #373867;
  font-size: 20px;
}
