.displayNone {
    display: none;
}

.selectContainer {
    display: flex;
    flex-direction: column;
}

.selectContainer label {
    color: #373867;
    font-weight: bold;
    font-size: 16px;
}


.select , .option{
    border: 2px solid #808080;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    font-weight: 100;
    font-size: 15px;
}

.textColor {
    color: #f00;
    margin: 0px;
}