.container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.login{
  align-content: left;
  font-size: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.loginImage{
  background-image: url('./Login.png');
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: center;
  background-position-y: 50px;
  width: 60%;
}

.loginContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin-left: 0px;
  margin-top: 100px;
  width: 40%;
}

.title{
  display: flex;
  align-items: center;
  height: 100px;
  padding-left: 65px;
  margin: 0px;
  font-size: 45px;
  color: #fff;
  background-color: #373867;
}

.form{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.flexForm div{
  display: flex;
  flex-direction: column;
}

.flexForm input{
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 15px;
  text-indent: 15px;
}

.buttons > button{
  background: #373867;
  border: 2px solid  #373867;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 15px;
  text-indent: 15px;
}

.passwordBox{
  position: relative;
}

.passwordIcon{
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 21px;
  right: 35px;
  padding-right: 1px;
  cursor: pointer;
}


.link {
  text-decoration: none;
  font-weight: 700;
  color: #373867;
}