.container {
  display: flex;
  height: 50px;
  background-color: #373867;
  padding: 1.2% 1%;
  justify-content: space-between;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.route {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.logout {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}