.moduleContainer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
}

.modal {
  width: 500px;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 15px;
  margin: auto;
  margin-top: 200px;
}

.modalHeader {
  padding: 2px 16px;
  background-color: #EA3354;
  border-radius: 15px 15px 0px 0px;
  color: #ffffff;
}

.modalBody {padding: 2px 16px;}

.deleteButton {
  margin: 10px;
  padding: 15px;
  background: #EA3354;
  border-style: none;
  border-radius: 5px;
  color: #ffffff;
}

.deleteButton:hover{
  cursor: pointer;
}

.closeButton {
  margin: 10px;
  padding: 15px;
  background: #F0F4F9;
  border-style: none;
  border-radius: 5px;
  color: #000000;
}

.closeButton:hover{
  cursor: pointer;
}