.title{
  margin: auto;
  margin-right: 75px;
  width: 80%;
  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.header{
  display: block;
}

.formContainer{
  width: 80%;
  height: fit-content;
  margin: auto;
  margin-right: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 15px;
  background-color: #e0e0e0;
}

.formContainer {
  justify-content: center;
}

.formDiv{
  margin: 10px;
  width: 45%;
}

.formFull{
  margin: 10px;
  width: 100%;
  color: #373867;
}

.employeesDiv{
  display: flex;
  flex-direction: column;
  background-color: #d9d9d8;
}

.btn {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  background-color: #EA3354;
  color: #ffffff;
}

.btn:hover{
  background-color: #c61d3c;
  cursor: pointer;
}