.modalOverlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
    width: 350px;
    height: 200px;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
}

.modalContent h3 {
    padding: 5px 15px;
    margin: 0;
    margin-top: 5px;
}

.closeButton {
    margin-top: 5px;
    width: fit-content;
    height: fit-content;
    border: #9e210b solid 1px;
}

.closeButton:hover {
    background-color: #9e210b;
    border-color: #F13312;
}

.acceptButton {
    background-color: #49A37B;
}

.acceptButton:hover {
    background-color: #115f3c;
}

.returnButton {
    background-color: #F13312;
    border: #9e210b solid 1px;
}

.returnButton:hover {
    background-color: #9e210b;
    border-color: #F13312;
}