.textColor {
    color: #f00;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container label {
    color: #373867;
    font-weight: bold;
    font-size: 16px;
}

.container input[type="date"] {
    font-family: 'Roboto'
}

.container input[type="date"]:focus {
    border-radius: 5px;
}